extends layout

block content
    body.container.index-bg
        .head.peekawoo-logo
            .container
                .index-form
                    .index-form-container
                        br
                        h1.text-signin Sign In
                        p.text-signin2 Meet local singles on the world's first online speed dating site
                        br
                        a.sb-facebook(href="/authfb")
                        p.text-signin2 or
                        a.sb-twitter
                        br